body{
    background-image: linear-gradient(45deg,cadetblue,darkblue,purple);
}

header {
    color:#00a7d1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 10px;
    border: 10px;
    border: #00a7d1;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    height: 120px;
    background-image:linear-gradient(315deg,cadetblue,darkblue,purple);
    margin-top: 10px;
    

}



th,td{
    padding:10px;
    font-size: 10pt;

}

tr{

    :hover {
        background-color: #00a7d1;
        color: black;
    }
}

#title{
    position: relative;
    color:#00a7d1;
    padding-top: -20px;
}

#text_social{
    font-size: x-large;
    text-align: center;
}

#event{
    margin-top: 20px;
    padding-top: 10px;
    padding: 10px;
    background-image:linear-gradient(315deg,cadetblue,darkblue,purple);
    color:#00a7d1;
}

#left-col{
    background-image:linear-gradient(315deg,cadetblue,darkblue,purple);
    color:#00a7d1;
}

#logo{
    float: left;
    padding-top: 10px;
    height: 75px;
    width: 75px;
}

#text h2{
    padding-top: 15px;
    margin: 10px;
    font-weight: bold;
}

.carousel-inner{
    margin: 10px;
    padding-right: 30px;
}

.carousel-caption h5{
    text-align: center;
    color:black
}

#carouselExampleCaptions{
    height: 40%;
    margin-top: 110px;
}

nav li{
    border: 2px;
    border-style: none;
    padding-left: 10px;
    accent-color: cadetblue;
    background-color:#00a7d1;
    list-style-type: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    float: left;
    width: 14%;
    padding: 16px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    margin: 1px;

    a{
        color:purple;
        text-align:center;
        text-decoration: none;
    }

    :hover{
        background-color: blueviolet;
        color:antiquewhite
    }

    .active{
        background-color: cadetblue;
    }
}

#login{
    float:right;
    padding-top: 10px;
    padding-right: 10px;
}


.gallery-img{
    width: 100%;
    border-bottom: solid rgba(0,0,0,0) 5px;
}

#img-gallery{
    padding-top: 10px;
    border: 10px;

}

#img-gallery1{
    padding-top: 10px;
    border: 10px;

}

#img-gallery2{
    padding-top: 10px;
    border: 10px;

}
#img-gallery3{
    padding-top: 10px;
    border: 10px;

}

#img-gallery .row{
    margin-bottom: 10px;
}

#img-gallery1 .row{
    margin-bottom: 10px;
}
#img-gallery2 .row{
    margin-bottom: 10px;
}
#img-gallery3 .row{
    margin-bottom: 10px;
}
table{
    /* font-family: Arial, Helvetica, sans-serif; */
    border-collapse: collapse;
    td{
        border:2px;
        border-style: solid;
        border-color:purple;
    }
    th{
        border:2px;
        border-style: solid;
        border-color:purple;
    }
    tr:nth-child(even){
        background-color: blueviolet;
        color:#00a7d1;
    }
    tr:nth-child(odd){
        background-color: royalblue;
        color:purple;
    }


}

#right-col{
    width: 100%;
}

h1,h2,h3,h4,h5,h6,p{
    color:cadetblue;
    /* font-family: Arial, Helvetica, sans-serif; */
    padding-left: 10px;
    text-align: center;
    -webkit-text-stroke: 0.75px black;
}

#logoHeadline{
    float:left;
}

h1{
    font-size:xx-large;
}

h3{
    font-size:x-large
}

p{
    font-size: x-large;
    font-weight: bold;
    color:#00a7d1;
    -webkit-text-stroke: 0.75px black;
    /* background: linear-gradient(90deg,purple 100%,cadetblue 35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

}

main{
    background-image: linear-gradient(315deg,cadetblue,darkblue,purple);
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 100px;
    margin-top: 20px;
    h3{
        padding-top: 100px;
    }
    p{
        padding-top: 20px;
        padding-left:15px;
    }
}

#left-col{
    float: left;
    padding: 10px;
    background-image: linear-gradient(315deg,cadetblue,darkblue,purple);
    color: #00a7d1;
    /* font-family: Arial, Helvetica, sans-serif; */
}
#right-col{
    float: right;
}

aside{
    background-image: linear-gradient(315deg,cadetblue,darkblue,purple);
    border-radius:10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    color: white;
    text-align: left;

}
footer{
    p{
        color:purple; 
    }
 
}
