body{
    background-image: linear-gradient(45deg,cadetblue,darkblue,purple);
}

header {
    color:#00a7d1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 10px;
    border: 10px;
    border: #00a7d1;
    padding-top: 10px;
    padding-left: 10px;
    background-image:linear-gradient(315deg,cadetblue,darkblue,purple);   margin-top: 10px;

}
#title{
    position: relative;
    color:#00a7d1;
    padding-top: 10px;
    

}
#logo{

   float: left;
   padding-top: 20px;


}
header{
    padding-bottom: 15px;
    padding-top: 0px;
}

nav li{
    border: 2px;
    border-style: none;
    padding-left: 10px;
    accent-color: cadetblue;
    background-color:#00a7d1;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;

    a{
        color:purple;
        text-align:center;
        text-decoration: none;
    }

    :hover{
        background-color: blueviolet;
        color:antiquewhite
    }

    .active{
        background-color: cadetblue;
    }
}

table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    td{
        border:2px;
        border-style: solid;
        border-color:purple;
    }
    th{
        border:2px;
        border-style: solid;
        border-color:purple;
    }
    tr:nth-child(even){
        background-color: blueviolet;
        color:#00a7d1;
    }
    tr:nth-child(odd){
        background-color: royalblue;
        color:purple;
    }


}

h1,h2,h3,h4,h5,h6,p{
    color:cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

h1{
    font-size:xx-large;
}

h3{
    font-size:x-large
}

p{
    font-size:medium
}

main{
    background-image: linear-gradient(315deg,cadetblue,darkblue,purple);
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 100px;
    p{
        padding-left:15px;
        padding-right: 500px;
    }
}

aside{
    background-image: linear-gradient(315deg,cadetblue,darkblue,purple);
    border-radius:10px;
    padding-left: 10px;
}
footer{
    p{
        color:purple; 
    }
 
}